body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.font-dark {
    color:#2b2b2b;
}

.btn {
    border-radius: 0;
}

.card, .card-header, .card-footer {
    border-color: #bdbdbd;
}

.card-header, .card-footer {
    background-color: #eaeaea;
}
.sidebar-dark .nav-item, 
.sidebar .nav-item {
    padding: 10px;
    .nav-link {
        padding: 10px;
        width: 100%;
        &:hover, &.router-link-exact-active {
            font-weight: 700;
            color: #808080;
            background-color: #fff;
            border-radius: 0;

            i {
                color: #808080;
            }
        }
    }
}


.bg-orange {
    background-color: #fb8c00;
}

.sidebar-dark {
    hr.sidebar-divider {
        border-top: 1px solid #fff;
    }
}

@media(min-width: 768px) {
    .sidebar {
        width: 18em !important;
        
        .nav-item .nav-link span {
            font-size: 14px;
        }
    }

}